<configuration>


	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HH"
		timeReference="contextBirth" />

	<property name="logdir" value="/qsr/api_logs" />

	<include resource="common/logback_appender.xml" />
	<include resource="common/logback_logger.xml" />




	<!--<include resource="common/logback_system.xml" />-->
	<!--<include resource="common/logback_payment.xml" />-->
	<!--<include resource="common/logback_transfer.xml" />-->

	<!--<include resource="common/logback_filestorage.xml" />-->
	<!--<include resource="common/logback_provider.xml" />-->
	<!--<include resource="common/logback_oauth2.xml" />-->
	<!--<include resource="common/logback_clientsdk.xml" />-->
	<!--<include resource="common/logback_clientiossdk.xml" />-->

	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="GENERAL" />
		<appender-ref ref="ERROR" />
	</root>

</configuration>
