<included>
	<appender name="PAYMENT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logdir}/payment.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logdir}/%d{yyyyMMdd}/payment.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>[%date][%-5level][%logger{36}] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.qsr.sdk.controller.PayOrderController"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="PAYMENT" />
		<appender-ref ref="ERROR" />
	</logger>

	<logger name="com.qsr.sdk.controller.PayOrderNotifyController"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="PAYMENT" />
		<appender-ref ref="ERROR" />
	</logger>

	<logger name="com.qsr.sdk.component.payment.provider.weixin.WeixinPayment"
		additivity="false">
		<level value="debug" />
		<appender-ref ref="PAYMENT" />
		<appender-ref ref="ERROR" />
	</logger>

</included>