<included>
	<appender name="SYSTEM"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- use the previously created timestamp to create a uniquely named log 
			file -->
		<file>${logdir}/system.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logdir}/%d{yyyyMMdd}/system.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>[%date][%-5level][%logger{36}] %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.qsr.sdk.startup" additivity="true">
		<level value="debug" />
		<appender-ref ref="SYSTEM" />
		<!-- <appender-ref ref="ERROR" /> -->
	</logger>
	
	<logger name="com.qsr.sdk.config" additivity="true">
		<level value="debug" />
		<appender-ref ref="SYSTEM" />
	<!-- <appender-ref ref="ERROR" /> -->
	</logger>


</included>